[Unit]
Requires=network.target
PartOf=helpbase.target

[Service]
Type=simple
User=helpbase
WorkingDirectory=/home/helpbase/helpbase

ExecStart=/bin/bash -lc 'dotenv bundle exec sidekiq -C config/sidekiq.yml'

Restart=always
RestartSec=1
TimeoutStopSec=30
KillMode=mixed
StandardInput=null
SyslogIdentifier=%p

MemoryMax=1.2G
MemoryHigh=infinity
MemorySwapMax=0
OOMPolicy=stop

Environment="PATH=/home/helpbase/.rvm/gems/ruby-3.4.4/bin:/home/helpbase/.rvm/gems/ruby-3.4.4@global/bin:/home/helpbase/.rvm/rubies/ruby-3.4.4/bin:/home/helpbase/.rvm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin:/home/helpbase/.rvm/bin:/home/helpbase/.rvm/bin"
Environment="PORT=3000"
Environment="RAILS_ENV=production"
Environment="NODE_ENV=production"
Environment="RAILS_LOG_TO_STDOUT=true"
Environment="GEM_HOME=/home/helpbase/.rvm/gems/ruby-3.4.4"
Environment="GEM_PATH=/home/helpbase/.rvm/gems/ruby-3.4.4:/home/helpbase/.rvm/gems/ruby-3.4.4@global"
